fastapi
uvicorn
pydantic
google-genai
httpx
supabase
python-dotenv
razorpay
requests
tenacity
tqdm
typing-extensions
websockets
ansio
distro
google-auth
sniffio
anyio
pydantic_core
starlette
h11
httpcore
idna
protobuf
pyasn1
pyasn1_modules
pycparser
pyparsing
uritemplate
urllib3
google-ai-generativelanguage
google-api-core
google-api-python-client
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
proto-plus
annotated-types
annotated-doc
typing-inspection
colorama
click
certifi
cffi
charset-normalizer
cryptography